<div ng-controller="AdminLayoutsEditEditController" block-ui="editEditLayout">
    <h3 class="slds-section__title">Layout Sections</h3>
    <div class="layout-section-container" 
            dnd-drop="sectionsDropCallBack(event, index, item, external, type)" 
            dnd-list="layoutSections" 
            dnd-allowed-types="['layoutSection']">
        <div    class="slds-panel slds-grid slds-grid--vertical slds-nowrap"
                ng-repeat="section in layoutSections | filter: {deleted: false }"
                dnd-draggable="section"
                dnd-effect-allowed="move" 
                dnd-moved="layoutSections.splice($index,1)"
                dnd-type="'layoutSection'"
                ng-init="sectionIndex = $index">
            <div class="slds-form--stacked slds-grow slds-scrollable--y">
                <div class="slds-panel__section slds-has-divider--bottom slds-section-title--divider" style="padding: .5rem;">
                    <h3>{{ section.title }}</h3>
                </div>
                <div class="slds-panel__section">
                    
                </div>
            </div>
        </div>
    </div>

    <h3 class="slds-section__title" ng-if="layout.type !== 'Create'">Related Lists</h3>
    <div class="layout-section-container" ng-if="layout.type !== 'Create'"
            dnd-drop="relatedListsDropCallBack(event, index, item, external, type,'2')" 
            dnd-list="relatedLists"
            dnd-allowed-types="['relatedList']">
    </div>
</div>