<div ng-controller="AdminLayoutsEditEditController" block-ui="editEditLayout">
    <style>
        .slds-form-element--draggable{
            padding-bottom: 3px;
            margin-top: 0 !important;
            border: 1px dotted transparent;
        }
        .slds-form-element--draggable,
        .slds-form-element--draggable > label,
        .slds-form-element--draggable > div > div > div > label {
            cursor: move;
        }
        .slds-form-element--draggable:hover {
            border-bottom: 1px dotted blue;
            border-top: 1px dotted blue;
            background: rgba(225, 217, 81, 0.4);
        }
        .dndPlaceholder{
            text-align: center;
            padding: 2px;
            border-top: 1px dotted white;
            border-bottom: 1px dotted white;
            color: white;
            text-transform: uppercase;
        }
        .dndPlaceholder:after{
            content: "Drop here";
        }
        [dnd-list="fields"] > .dndPlaceholder{
            background-color: #e1d951 !important;
        }
        [dnd-list="layoutSections"] > .dndPlaceholder{
            background-color: #6a89e5 !important;
        }
        [dnd-list="relatedLists"] > .dndPlaceholder{
            background-color: #f59f71 !important;
        }
    </style>
    <h3 class="slds-section__title">Layout Sections</h3>
    <div class="layout-section-container" 
            dnd-drop="sectionsDropCallBack(event, index, item, external, type)" 
            dnd-list="layoutSections" 
            dnd-allowed-types="['layoutSection']">
        <div    class="slds-panel slds-grid slds-grid--vertical slds-nowrap slds-m-bottom--xx-small"
                ng-repeat="section in layoutSections | filter: {deleted: false }"
                dnd-draggable="section"
                dnd-effect-allowed="move" 
                dnd-moved="layoutSections.splice($index,1)"
                dnd-type="'layoutSection'"
                ng-init="sectionIndex = $index">
            <div class="slds-form--stacked slds-grow slds-scrollable--y">
                <div class="slds-panel__section slds-has-divider--bottom slds-section-title--divider" style="padding: .5rem;">
                    <h3>{{ section.title }}
                        <span class="slds-float--right">
                            <div class="slds-button-group" role="group">
                                <button ng-click="removeAndReorder(layoutSections,section,$index)" class="slds-button slds-button--icon-border-filled slds-button--icon-x-small slds-button--icon-error">
                                    <svg class="slds-button__icon" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Delete</span>
                                </button>
                                <button ng-click="openSectionCriteriaModal(section,$index)" class="slds-button slds-button--icon-border-filled slds-button--icon-x-small">
                                    <svg class="slds-button__icon" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#magicwand"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Criteria</span>
                                </button>
                                <button ng-click="openSectionPropertiesModal(section,$index)" class="slds-button slds-button--icon-border-filled slds-button--icon-x-small">
                                    <svg class="slds-button__icon" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#custom_apps"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Properties</span>
                                </button>
                            </div>
                        </span>
                    </h3>
                </div>
                <div class="slds-panel__section slds-grid slds-p-vertical--xx-small slds-p-horizontal--none">
                    <div ng-if="section.isComponent" class="slds-align--absolute-center">
                        {{section.Component.desc}}
                    </div>
                    <div    ng-if="!section.isComponent" 
                            ng-repeat="fields in section.columns" 
                            ng-init="columnIndex = $index" 
                            class="slds-size--1-of-{{section.columns.length}}">
                        <div    class="slds-form--horizontal" 
                                dnd-list="fields" 
                                dnd-drop="fieldsDropCallBack(event, index, item, external, type, section, $index+1)"
                                dnd-allowed-types="['sObjectField']"
                                style="min-height: 20px;" >
                            <div    class="slds-form-element slds-form-element--draggable"
                                    ng-repeat="field in fields | filter: {deleted: false }" 
                                    dnd-draggable="field" 
                                    dnd-effect-allowed="move" 
                                    dnd-moved="fields.splice($index,1)" 
                                    dnd-type="'sObjectField'",
                                    ng-init="fieldIndex = $index">
                                <label class="slds-form-element__label" style="font-weight: 600;float: none;">
                                    <a href pf-tooltip data-placement="{{(section.columns.length === 1) ? 'top' : (columnIndex === 0) ? 'right' :'left'}}" ng-if="field.error" style="color: red;" title="{{field.error}}"><i class="fa fa-exclamation-circle"></i></a>
                                    {{ field.label }}
                                </label>
                                <div class="slds-form-element__control">
                                    <div class="slds-grid">
                                        <div class="slds-col slds-has-flexi-truncate">
                                            <label class="slds-form-element__label slds-p-left--small" style="margin-top:.2rem;margin-bottom: 0;">
                                                Sample {{ field.SObjectField.label }}
                                            </label>
                                        </div>
                                        <div class="slds-col slds-no-flex slds-grid slds-align-middle">
                                            <div class="slds-button-group slds-field-actions" role="group">
                                                <button ng-click="removeAndReorder(fields,field,$index)" class="slds-button slds-button--icon-border-filled slds-button--icon-x-small slds-button--icon-error">
                                                    <svg class="slds-button__icon" aria-hidden="true">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                                    </svg>
                                                    <span class="slds-assistive-text">Delete</span>
                                                </button>
                                                <button ng-click="openFieldCriteriaModal(field)" class="slds-button slds-button--icon-border-filled slds-button--icon-x-small">
                                                    <svg class="slds-button__icon" aria-hidden="true">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#magicwand"></use>
                                                    </svg>
                                                    <span class="slds-assistive-text">Criteria</span>
                                                </button>
                                                <button ng-click="openFieldPropertiesModal(section,sectionIndex,columnIndex,field,fieldIndex)" class="slds-button slds-button--icon-border-filled slds-button--icon-x-small">
                                                    <svg class="slds-button__icon" aria-hidden="true">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#custom_apps"></use>
                                                    </svg>
                                                    <span class="slds-assistive-text">Properties</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 class="slds-section__title" ng-if="layout.type !== 'Create'">Related Lists</h3>
    <div class="layout-section-container" ng-if="layout.type !== 'Create'"
            dnd-drop="relatedListsDropCallBack(event, index, item, external, type,'2')" 
            dnd-list="relatedLists"
            dnd-allowed-types="['relatedList']">
    </div>
</div>