<div class="slds-col slds-size--1-of-1">
    <div class="slds-page-header slds-page-header--object-home">
        <div class="slds-grid">
            <div class="slds-col slds-has-flexi-truncate">
                <div class="slds-media slds-no-space slds-grow">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-user">
                            <svg class="slds-icon slds-p-around--xx-small" aria-hidden="true">
                                <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#groups"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <p class="slds-text-title--caps slds-line-height--reset">sObjects</p>
                        <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="Bulk User Upload">CSV Upload</h1>
                    </div>
                </div>
            </div>
            <label ng-if="config.helpDocURL" style="padding-top: 7px; padding-right: 15px;"><a href="{{config.helpDocURL}}">Help Document</a><br/></label>
            <label ng-if="config.templateURL" style="padding-top: 7px; padding-right: 15px;"><a href="{{config.templateURL}}">Sample Template</a><br/></label>
            <div class="slds-col slds-no-flex slds-grid slds-align-top" ng-if="valueMapping && fieldMapping && uniqueKeyMapping && (valueMapping.length > 0 || fieldMapping.length > 0 || uniqueKeyMapping.length > 0)">
                <file-field class="slds-button slds-button--brand" callback="uploadRecords" allowed-ext="'.csv'" ng-model="upload.DataFile">
                    <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#upload" />
                    </svg>
                    Upload
                </file-field>
            </div>
        </div>
    </div>
    <div ng-if="UIField.length > 0" class="slds-panel__section slds-grid slds-p-vertical--x-small slds-p-horizontal--meduim">
        <div class="slds-form--horizontal slds-p-horizontal--x-small" style="width: 50%;">
            <div class="slds-form-element" ng-repeat="field in UIField">
                <form class="form-horizontal">
                    <label class="slds-form-element__label slds-p-right--small" style="font-weight: 600;float: none;width:45%;float:left;" for="{{field.SObjectField.name + $index}}" translate>{{ field.label}}</label>
                    <div class="slds-form-element__control" style="width:50%;">
                        <div field-readonly="false" sobject-layout-field base-ctrl="baseCtrl" field="field" model="model" index="$index"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="slds-grid slds-panel slds-wrap slds-scrollable--y slds-p-horizontal--large slds-p-vertical--medium" style="min-height: 200px !important;">
        <article class="slds-card slds-size--1-of-1">
            <div class="slds-form--stacked slds-grow slds-scrollable--y" style="min-height: 100px;" block-ui="bulkUpload">
                <div class="slds-panel__section slds-has-divider--bottom slds-section-title--divider" style="padding: .5rem;">
                    <h3 class="slds-section__title">{{sObject.label}} Upload Report</h3>
                </div>
                <div class="slds-size--1-of-1 slds-panel__section">
                    <div class="slds-panel slds-grid slds-grid--vertical slds-nowrap slds-m-bottom--xx-small slds-scrollable--y slds-scrollable--x;" style="margin-bottom:0px">
                        <div style="padding:0px;overflow: auto;max-height:290px">
                            <table fixed-header class="slds-table slds-table--compaq slds-table--bordered slds-table--cell-buffer slds-table--striped" style="margin-bottom:0px;min-height: 100px !important; width: 100% !important;">
                                <thead>
                                    <tr class="slds-text-title--caps">
                                        <th style="white-space:normal !important;" title="File Name">File Name</th>
                                        <th style="white-space:normal !important;min-width: 180px !important;" title="Date">Date</th>
                                        <th style="white-space:normal !important;" title="Uploaded By">Uploaded By</th>
                                        <th style="white-space:normal !important;" title="Error">Error</th>
                                        <th style="white-space:normal !important;" title="Result">Result</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="field in historyRecords">
                                        <td>{{ field.File_Name__c }}</td>
                                        <td>
                                            {{ ($root.formateDateAndDateTime(field.CreatedDate,$root.user().TimeZone.code, $root.user().Locale.name, $root.user().Locale.dateTimeFormat) | date: 'medium') }}
                                        </td>
                                        <td>{{ upload.username }}</td>
                                        <td>
                                            <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true" ng-if="field.Error_Status__c == true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                            <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true" ng-if="field.Error_Status__c == false">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#close" />
                                            </svg>
                                        </td>
                                        <td>
                                            <a href ng-click="getFile(field.Id)"><span class="fa fa-chevron-circle-left"></span>View</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>