<div class="slds-backdrop" ></div>
<div role="dialog" tabindex="-1" aria-labelledby="modalTitle" data-backdrop="static" class="slds-modal">
    <div class="slds-modal__container">
        <div class="slds-modal__header">
            <button class="slds-button slds-modal__close slds-button--icon-inverse" title="Close" ng-click="close()">
                <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                </svg>
                <span class="slds-assistive-text">Close</span>
            </button>
            <h2 id="modalTitle" class="slds-text-heading--medium" translate>{{bulkOperationTitle}} </h2>
        </div>
        <div class="slds-modal__content slds-p-around--medium">
            <div class="slds-col slds-size--1-of-1" block-ui="saveMultiUserAction">
                <form class="form-horizontal">
                    <div class="slds-size--1-of-1">
                        <div class="col-md-12">
                            <div class="slds-form--horizontal">
                                <table class="slds-table slds-table--compaq slds-table--cell-buffer slds-table--striped" style="margin-bottom:0px;max-height:300px ;">
                                    <thead>
                                        <tr class="slds-form-element" ng-repeat="field in data">
                                            <td ng-if="field.rendered != false">
                                                <label class="slds-form-element__label" style="font-weight: 600;float: none;width:30%" for="{{field.SObjectField.name + $index}}"
                                                    translate>{{ field.label}}</label>
                                            </td>
                                            <td ng-if="field.rendered != false">
                                                <div class="slds-form-element__control ">
                                                    <div field-readonly="{{field.readonly}}" sobject-layout-field base-ctrl="baseCtrl" field="field" model="model" index="$index"></div>
                                                </div>
                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="slds-modal__footer">
            <button class="slds-button slds-button--neutral" ng-click="close()" translate>Cancel</button>
            <button class="slds-button slds-button--brand" ng-click="save()">
                <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                </svg>
                {{'Save' | translate}}
            </button>

        </div>
    </div>
</div>
