<!--<span id="badge">-->
  <!--<img src="../bower_components/patternfly/dist/img/logo.svg" alt="Enterpise application logo" />-->
  <!--<img src="../resources/images/logo/application.png" style="background-color: transparent; border-bottom: 2px solid white;border-top: 2px solid white; height: 70px;" alt="Enterprise Application" />-->
  <!--<img src="../resources/images/logo/application.png" style="background-color: rgba(255,255,255,.055); height: 70px;" alt="Enterprise Application" />-->
<!--</span>-->
<pf-notification-list></pf-notification-list>
<div class="container" block-ui="loggingIn">
    <div class="row">
        <!--<div class="col-sm-12">
            <div id="brand">
                <img src="../resources/images/brand.svg" alt="Enterprise Application">
            </div>-->
            <!--/#brand-->
        <!--</div>-->
        <!--/.col-*-->
        <div class="col-sm-12 col-md-12 col-lg-12 login">

            <form class="form-horizontal form-signin" role="form">
                <div class="form-group">
                    <label for="inputUsername" class="col-sm-3 col-md-3 control-label">Username</label>
                    <div class="col-sm-9 col-md-9">
                        <input type="text" placeholder="Username" class="form-control" id="inputUsername" placeholder="" tabindex="1" ng-model="credentials.username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-3 col-md-3 control-label">Password</label>
                    <div class="col-sm-9 col-md-9">
                        <input type="password" placeholder="Password" class="form-control" id="inputPassword" placeholder="" tabindex="2" ng-model="credentials.password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8  col-sm-6  col-md-6">
                        <span class="help-block">  <a href="#" style=" color: #19bc9c;text-decoration: none;" ng-click="onClickResetPassLink()" tabindex="6"> Reset Password </a></span>
                    </div>
                    <div class="col-xs-4 col-sm-6 col-md-6 submit">
                        <button type="submit" class="btn btn-primary btn-lg greenBtn"  tabindex="4" ng-click="login()" ng-disabled="loggingIn"> <i class="fa fa-sign-in"></i> {{ (loggingIn) ? 'Logging In ...' : 'Log In' }}</button>
                    </div>
                </div>
            </form>
        </div>
        <!--/.col-*-->
        <!--<div class="col-sm-5 col-md-6 col-lg-7 details">
            <p><strong>Welcome to PatternFly!</strong> This is placeholder text, only. Use this area to place any information
                or introductory message about your application that may be relevant for users. For example, you might include
                news or information about the latest release of your product here&mdash;such as a version number.</p>
        </div>-->
        <!--/.col-*-->
    </div>
    <!--/.row-->
</div>
<!--/.container-->
<table id="aboutakritiv" class="bottom" width="100%" border="0" style="float:right;">
    <tbody>
        <tr>                    
            <td align="left" class="tdtrans">
                <table cellspacing="1" class="innertbl" border="0" style="margin-right: 0px !important; margin-left: 13px !important;">
                    <tbody><tr rowspan="2"><td>&nbsp;</td></tr>
                    <tr>
                        <td colspan="2" align="right">
                            <center>
                                <img src="../resources/images/logo/application.png" width="50%" style="float:right;"> 
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="tblheader">Transforming how businesses process</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><a href="https://www.akritiv.com/home/" style="color: #bebebe; font-weight: bold; font-size: 12px;">Learn about Akritiv</a></td>
                        <td style="text-align: right;"><a href="http://www.genpact.com/" style="color: #bebebe; font-weight: bold; font-size: 12px;">www.genpact.com</a></td>
                    </tr>
                </tbody></table>
            </td>
            <td class="tdblank">
            </td>
        </tr>
    </tbody>
</table>