<div class="slds-col slds-size--1-of-1">
    <div class="slds-page-header slds-page-header--object-home">
        <div class="slds-grid">
            <div class="slds-col slds-has-flexi-truncate">
                <div class="slds-media slds-no-space slds-grow">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-user">
                            <svg class="slds-icon slds-p-around--xx-small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#user"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <p class="slds-text-title--caps slds-line-height--reset">{{ $root.title() }}</p>
                        <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="Custom Tab Configuration">Custom Tab Configuration</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div block-ui="tabConfigDetail" class="slds-grid slds-panel slds-wrap slds-scrollable--y slds-p-horizontal--large slds-p-vertical--medium" style="height: calc(100vh - 237px);">
        <article class="slds-card slds-size--1-of-1">
            <div class="slds-grid slds-border--top slds-border--bottom" style="background: white;">
                <div class="slds-size--1-of-1 slds-panel__section">
                    <div class="slds-form--horizontal">
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="fieldReportTab">Report tab required ?</label>
                            <div class="slds-form-element__control">
                                <slds-switch id="fieldReportTab" switch-change="onChangeSave({reportTab: tabConfig.reportTab})" ng-model="tabConfig.reportTab" on-text="Yes" off-text="No" />
                            </div>
                        </div>
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="fieldArchivalTab">Archival tab required ?</label>
                            <div class="slds-form-element__control">
                                <slds-switch id="fieldArchivalTab" switch-change="onChangeSave({archivalTab: tabConfig.archivalTab})" ng-model="tabConfig.archivalTab" on-text="Yes" off-text="No" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>