<div class="slds-col slds-size--1-of-1" block-ui="ChangeProfileImgLayoutBlock">
    <div class="slds-page-header slds-page-header--object-home">
        <div class="slds-grid">
            <div class="slds-col slds-has-flexi-truncate">
                <div class="slds-media slds-no-space slds-grow">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-user">
                            <svg class="slds-icon slds-p-around--xx-small" aria-hidden="true">
                                <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#yubi_key"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <p class="slds-text-title--caps slds-line-height--reset" translate="">Security</p>
                        <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="New" translate="">Change Profile</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slds-grid slds-panel slds-wrap slds-scrollable--y slds-p-bottom--large" style="height: calc(100vh - 156px);">
        <div class="slds-size--1-of-3 slds-panel__section">
        </div>
        <div class="slds-size--1-of-3 slds-panel__section">
            <fieldset class="slds-form--compound">
                <div class="slds-form-element__group">
                    <div class="slds-form-element__row">
                        <div class="slds-form-element slds-lookup slds-size--1-of-1" data-select="single">
                            <label class="slds-form-element__label" translate>Select Profile Image</label>
                            <div class="slds-form--horizontal">
                                <div class="slds-form-element">
                                    <table class="slds-table slds-table--compaq slds-table--bordered slds-table--cell-buffer slds-table--striped">
                                        <tr>
                                            <td style="width: 5% !important;">
                                                <span class="slds-checkbox">
                                                    <input type="checkbox" id="defaultAvatar1" ng-model="select.defaultAvatar1" ng-click="onChangeImg('defaultAvatar1');" />
                                                    <label class="slds-checkbox__label" for="defaultAvatar1" style="width: 0px;height:0px;">
                                                        <span class="slds-checkbox--faux" style="margin:0px"></span>
                                                        <span class="slds-form-element__label"></span>
                                                    </label>
                                                </span>
                                            </td>
                                            <td style="width: 28% !important;">
                                                <div class="slds-form-element__control">
                                                    <img class="logo-img" style="margin: none !important;" ng-src="/slds221/assets/images/avatar1.jpg" />
                                                </div>
                                            </td>
                                            <td style="width: 5% !important;">
                                                <span class="slds-checkbox">
                                                    <input type="checkbox" id="defaultAvatar2" ng-model="select.defaultAvatar2" ng-click="onChangeImg('defaultAvatar2');" />
                                                    <label class="slds-checkbox__label" for="defaultAvatar2" style="width: 0px;height:0px;">
                                                        <span class="slds-checkbox--faux" style="margin:0px"></span>
                                                        <span class="slds-form-element__label"></span>
                                                    </label>
                                                </span>
                                            </td>
                                            <td style="width: 28% !important;">
                                                <div class="slds-form-element__control">
                                                    <img class="logo-img" style="margin: none !important;" ng-src="/slds221/assets/images/avatar2.jpg" />
                                                </div>
                                            </td>
                                            <td style="width: 5% !important;">
                                                <span class="slds-checkbox">
                                                    <input type="checkbox" id="defaultAvatar3" ng-model="select.defaultAvatar3" ng-click="onChangeImg('defaultAvatar3');" />
                                                    <label class="slds-checkbox__label" for="defaultAvatar3" style="width: 0px;height:0px;">
                                                        <span class="slds-checkbox--faux" style="margin:0px"></span>
                                                        <span class="slds-form-element__label"></span>
                                                    </label>
                                                </span>
                                            </td>
                                            <td style="width: 28% !important;">
                                                <div class="slds-form-element__control">
                                                    <img class="logo-img" style="margin: none !important;" ng-src="/slds221/assets/images/avatar3.jpg" />
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <table class="slds-table slds-table--compaq slds-table--bordered slds-table--cell-buffer slds-table--striped">
                                        <tr>
                                            <td style="width: 33% !important;" rowspan="3">
                                                <span class="slds-checkbox">
                                                    <input type="checkbox" id="userAvatar" ng-model="select.userAvatar" ng-click="onChangeImg('userAvatar');" />
                                                    <label class="slds-checkbox__label" for="userAvatar" style="width: 0px;height:0px;">
                                                        <span class="slds-checkbox--faux" style="margin:0px"></span>
                                                        <span class="slds-form-element__label"></span>
                                                    </label>
                                                </span>
                                            </td>
                                            <td style="width: 66% !important; text-align: center !important;">
                                                <div class="slds-form-element__control">
                                                    <span 	id 				="selectFile"
                                                            class		    = "slds-button slds-button--brand dz-clickable" 
                                                            name		    = "file"
                                                            enctype		    = "multipart/form-data"
                                                            data-ngf-select	= "selectFile($files, $invalidFiles)"
                                                            style="    cursor: pointer;"
                                                            ng-disabled="select.userAvatarChecked">
                                                            <span>Upload your image</span><i class="pficon-file"></i> 
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 66% !important;">
                                                <div class="slds-form-element">
                                                    <div class='slds-form-element__control' style="color: red;font-weight: bold">
                                                        Note : Only {{allowedExtList}} file format supported.<br> 
                                                        Maximum 100 KB file size is allowed.<br> 
                                                        Image should be 800px height and 800px width for best view<br>&nbsp;
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 66% !important;">
                                                <div class="slds-form-element">
                                                    <div class="slds-form-element__control">
                                                        <img class="logo-img" ng-src="{{tempUserProfileImg}}" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="slds-size--1-of-3 slds-panel__section">
        </div>
    </div>
</div>