<div class="slds-form--stacked slds-grow slds-scrollable--y" style="min-height: 100px;" block-ui="sObjectFieldsMapping">
    <div class="slds-size--1-of-1 slds-grid slds-wrap">
        <div class="slds-size--1-of-2 slds-p-around--medium">
            <fieldset class="slds-form--compound">
                <div class="slds-form-element__group">
                    <div class="slds-form-element__row">
                        <div class="slds-form-element slds-lookup slds-size--1-of-1" data-select="single">
                            <label class="slds-form-element__label" for="SObject">SObject</label>
                            <div class="slds-form-element__control slds-grid slds-box--border">
                                <div class="slds-input-has-icon slds-grow">
                                    <input type="hidden" ng-model="SObject">
                                    <input readonly type="text" id="SObject" class="slds-lookup__search-input slds-input--bare" ng-model="SObject.label" />
                                </div>
                                <div class="slds-align-middle slds-m-left--xx-small slds-m-right--xx-small slds-shrink-none">
                                    <button ng-click="openSObjectsLookup('SObject')" class="slds-button slds-button--icon-border slds-button--icon-small slds-util-button" aria-haspopup="true" title="Open lookup modal for SObjects">
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Open lookup modal for SObjects</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="slds-size--1-of-2 slds-p-around--medium">
            <fieldset class="slds-form--compound">
                <div class="slds-form-element__group">
                    <div class="slds-form-element__row">
                        <div class="slds-form-element slds-lookup slds-size--1-of-1" data-select="single">
                            <!--<label class="slds-form-element__label" for="detailSObject">Detail SObject</label>
                            <div class="slds-form-element__control slds-grid slds-box--border">
                                <div class="slds-input-has-icon slds-grow">
                                    <input type="hidden" ng-model="detailSObject">
                                    <input readonly type="text" id="detailSObject" class="slds-lookup__search-input slds-input--bare" ng-model="detailSObject.label" />
                                </div>
                                <div class="slds-align-middle slds-m-left--xx-small slds-m-right--xx-small slds-shrink-none">
                                    <button ng-click="openSObjectsLookup('detailSObject')" class="slds-button slds-button--icon-border slds-button--icon-small slds-util-button" aria-haspopup="true" title="Open lookup modal for SObjects">
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Open lookup modal for SObjects</span>
                                    </button>
                                </div>
                            </div>-->
                            <label class="slds-form-element__label" for="templateURL">Template URL</label>
                            <div class="slds-form-element__control slds-grid slds-box--border">
                                <div class="slds-input-has-icon slds-grow">
                                    <input type="text" id="templateURL" class="slds-lookup__search-input slds-input--bare" ng-model="config.templateURL" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="slds-form--stacked slds-grow slds-scrollable--y">
        <div class="slds-panel__section slds-has-divider--bottom slds-section-title--divider" style="padding: .5rem;">
            <h3 class="slds-section__title">Value Mapping</h3>
        </div>
        <table fixed-header class="slds-table slds-table--compaq slds-table--bordered slds-table--cell-buffer slds-table--striped" style="margin-bottom:0px;min-height: 100px !important; width: 100% !important;">
            <thead>
                <tr class="slds-text-title--caps">
                    <th style="white-space:normal !important; width: 25%; text-align: center !important;" title="Object">Object</th>
                    <th style="white-space:normal !important; width: 25%; text-align: center !important;" title="Salesforce Field">Salesforce Field</th>
                    <th style="white-space:normal !important; width: 40%; text-align: center !important;" title="Default Value">Default Value</th>
                    <th style="white-space:normal !important; width: 10%; text-align: center !important;"></th>
                </tr>
            </thead>
        </table>
        <div class="slds-panel__section slds-grid slds-p-vertical--xx-small slds-p-horizontal--none slds-border--top slds-border--bottom">
            <div class="slds-form--horizontal slds-size--1-of-1" dnd-list="valueMapping" dnd-drop="fieldsDropCallBack(event, index, item, external, type, valueMapping, $index+1, true)" dnd-allowed-types="'sObjectField'" style="min-height: 20px;">
                <div class="dndPlaceholder" style="background-color: #e1d951 !important;">
                    Drop field here
                </div>
                <div class="slds-form-element slds-form-element--draggable" ng-repeat="field in valueMapping" dnd-draggable="field" dnd-effect-allowed="move" dnd-moved="valueMapping.splice($index,1)" dnd-type="'sObjectField'">
                    <label class="slds-form-element__label" style="font-weight: 600;width: 25%;text-align: center !important;">
                        <a href pf-tooltip data-placement="'top'" ng-if="field.error" style="color: red;" title="{{ field.SObjectName }}"><i class="fa fa-exclamation-circle"></i></a>
                        {{ field.SObjectName }}
                    </label>
                    <label class="slds-form-element__label" style="font-weight: 600;width: 25%;text-align: center !important;">
                        <a href pf-tooltip data-placement="'top'" ng-if="field.error" style="color: red;" title="{{ field.label }} ({{ field.type }})"><i class="fa fa-exclamation-circle"></i></a>
                        {{ field.label }} ({{ field.type }})
                    </label>
                    <div class="slds-form-element__control" style="width: 35%;">
                        <div class="slds-grid">
                            <div class="slds-col slds-has-flexi-truncate">
                                <table style="width: 80% !important;">
                                    <tr>
                                        <td style="padding-left: 2px; padding-right: 2px;">
                                            <input type="text" placeholder="Default Value .." class="slds-input" ng-model="field.defaultValue" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="slds-col slds-no-flex slds-grid slds-align-middle">
                                <div class="slds-button-group slds-field-actions" role="group">
                                    <button ng-click="removeAndReorder(valueMapping,field,$index)" class="slds-button slds-button--icon-border-filled slds-button--icon-x-small slds-button--icon-error">
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Delete</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slds-form--stacked slds-grow slds-scrollable--y">
        <div class="slds-panel__section slds-has-divider--bottom slds-section-title--divider" style="padding: .5rem;">
            <h3 class="slds-section__title">SObject Field Mapping</h3>
        </div>
        <table fixed-header class="slds-table slds-table--compaq slds-table--bordered slds-table--cell-buffer slds-table--striped" style="margin-bottom:0px;min-height: 100px !important; width: 100% !important;">
            <thead>
                <tr class="slds-text-title--caps">
                    <th style="white-space:normal !important; width: 25%; text-align: center !important;" title="Object">Object</th>
                    <th style="white-space:normal !important; width: 25%; text-align: center !important;" title="Salesforce Field">Salesforce Field</th>
                    <th style="white-space:normal !important; width: 40%; text-align: center !important;" title="CSV File Field">CSV File Field</th>
                    <th style="white-space:normal !important; width: 10%; text-align: center !important;"></th>
                </tr>
            </thead>
        </table>
        <div class="slds-panel__section slds-grid slds-p-vertical--xx-small slds-p-horizontal--none slds-border--top slds-border--bottom">
            <div class="slds-form--horizontal slds-size--1-of-1" dnd-list="fieldMapping" dnd-drop="fieldsDropCallBack(event, index, item, external, type, fieldMapping, $index+1, true)" dnd-allowed-types="'sObjectField'" style="min-height: 20px;">
                <div class="dndPlaceholder" style="background-color: #e1d951 !important;">
                    Drop field here
                </div>
                <div class="slds-form-element slds-form-element--draggable" ng-repeat="field in fieldMapping" dnd-draggable="field" dnd-effect-allowed="move" dnd-moved="fieldMapping.splice($index,1)" dnd-type="'sObjectField'">
                    <label class="slds-form-element__label" style="font-weight: 600;width: 25%;text-align: center !important;">
                        <a href pf-tooltip data-placement="'top'" ng-if="field.error" style="color: red;" title="{{ field.SObjectName }}"><i class="fa fa-exclamation-circle"></i></a>
                        {{ field.SObjectName }}
                    </label>
                    <label class="slds-form-element__label" style="font-weight: 600;width: 25%;text-align: center !important;">
                        <a href pf-tooltip data-placement="'top'" ng-if="field.error" style="color: red;" title="{{ field.label }} ({{ field.type }})"><i class="fa fa-exclamation-circle"></i></a>
                        {{ field.label }} ({{ field.type }})
                    </label>
                    <div class="slds-form-element__control" style="width: 35%;">
                        <div class="slds-grid">
                            <div class="slds-col slds-has-flexi-truncate">
                                <table style="width: 80% !important;">
                                    <tr>
                                        <td style="padding-left: 2px; padding-right: 2px;">
                                            <input type="text" placeholder="CSV field name .." class="slds-input" ng-model="field.csvFieldName" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="slds-col slds-no-flex slds-grid slds-align-middle">
                                <div class="slds-button-group slds-field-actions" role="group">
                                    <button ng-click="removeAndReorder(fieldMapping,field,$index)" class="slds-button slds-button--icon-border-filled slds-button--icon-x-small slds-button--icon-error">
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Delete</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slds-form--stacked slds-grow slds-scrollable--y">
        <div class="slds-panel__section slds-has-divider--bottom slds-section-title--divider" style="padding: .5rem;">
            <h3 class="slds-section__title">UI Field</h3>
        </div>
        <table fixed-header class="slds-table slds-table--compaq slds-table--bordered slds-table--cell-buffer slds-table--striped" style="margin-bottom:0px;min-height: 100px !important; width: 100% !important;">
            <thead>
                <tr class="slds-text-title--caps">
                    <th style="white-space:normal !important; width: 25%; text-align: center !important;" title="Object">Object</th>
                    <th style="white-space:normal !important; width: 25%; text-align: center !important;" title="Salesforce Field">Salesforce Field</th>
                    <th style="white-space:normal !important; width: 50%; text-align: center !important;"></th>
                </tr>
            </thead>
        </table>
        <div class="slds-panel__section slds-grid slds-p-vertical--xx-small slds-p-horizontal--none slds-border--top slds-border--bottom">
            <div class="slds-form--horizontal slds-size--1-of-1" dnd-list="UIField" dnd-drop="fieldsDropCallBack(event, index, item, external, type, UIField, $index+1, true)" dnd-allowed-types="'sObjectField'" style="min-height: 20px;">
                <div class="dndPlaceholder" style="background-color: #e1d951 !important;">
                    Drop field here
                </div>
                <div class="slds-form-element slds-form-element--draggable" ng-repeat="field in UIField" dnd-draggable="field" dnd-effect-allowed="move" dnd-moved="UIField.splice($index,1)" dnd-type="'sObjectField'">
                    <label class="slds-form-element__label" style="font-weight: 600;width: 25%;text-align: center !important;">
                        <a href pf-tooltip data-placement="'top'" ng-if="field.error" style="color: red;" title="{{ field.SObjectName }}"><i class="fa fa-exclamation-circle"></i></a>
                        {{ field.SObjectName }}
                    </label>
                    <label class="slds-form-element__label" style="font-weight: 600;width: 25%;text-align: center !important;">
                        <a href pf-tooltip data-placement="'top'" ng-if="field.error" style="color: red;" title="{{ field.label }} ({{ field.type }})"><i class="fa fa-exclamation-circle"></i></a>
                        {{ field.label }} ({{ field.type }})
                    </label>
                    <div class="slds-form-element__control" style="width: 40%;"></div>
                    <div class="slds-form-element__control" style="width: 5%;">
                        <div class="slds-grid">
                            <div class="slds-col slds-no-flex slds-grid slds-align-middle">
                                <div class="slds-button-group slds-field-actions" role="group">
                                    <button ng-click="removeAndReorder(UIField,field,$index)" class="slds-button slds-button--icon-border-filled slds-button--icon-x-small slds-button--icon-error">
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Delete</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <article class="slds-card" style="margin-top: 10px !important;">
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media--center slds-has-flexi-truncate">
                <div class="slds-media__body slds-size--1-of-3">
                    <h2>
                        <span class="slds-text-heading--small">Unique Key</span>
                    </h2>
                </div>
                <div class="slds-form-element slds-size--1-of-3">
                    <div class="slds-form-element__control slds-grid slds-box--border">
                        <select class="slds-select" ng-model="uniqueKey" ng-change="test(uniqueKey);">
                            <option value="">-- None --</option>
                            <option value="{{field.name}}" title="{{field.name}}" ng-repeat="field in SObject.SObjectFields | orderBy:'label'">{{ field.label }} ({{ field.type }})</option>
                        </select>
                    </div>
                </div>
                <div class="slds-form-element slds-size--1-of-3"></div>
            </header>
        </div>
        <div class="slds-card__body slds-p-around--x-small slds-border--top" style="margin-bottom: 0;background-color: white;">
            <div class="slds-form--horizontal slds-size--1-of-1" dnd-list="uniqueKeyMapping" dnd-drop="fieldsDropCallBack(event, index, item, external, type, uniqueKeyMapping, $index+1, false)" dnd-allowed-types="'sObjectField'" style="min-height: 20px;">
                <div class="dndPlaceholder" style="background-color: #e1d951 !important;">
                    Drop field here
                </div>
                <div class="slds-form-element slds-form-element--draggable" ng-repeat="field in uniqueKeyMapping" dnd-draggable="field" dnd-effect-allowed="move" dnd-moved="uniqueKeyMapping.splice($index,1)" dnd-type="'sObjectField'" style="padding-left: 100px !important; padding-right: 100px !important;">
                    <label class="slds-form-element__label" style="font-weight: 600;width: 90%;text-align: center !important;">
                        <a href pf-tooltip data-placement="'top'" ng-if="field.error" style="color: red;" title="{{ field.label }} ({{ field.type }}) [{{ field.SObjectName }}]"><i class="fa fa-exclamation-circle"></i></a>
                        {{ field.label }} ({{ field.type }}) [{{ field.SObjectName }}]
                    </label>
                    <div class="slds-form-element__control" style="width: 10%;">
                        <div class="slds-grid">
                            <div class="slds-col slds-no-flex slds-grid slds-align-middle">
                                <div class="slds-button-group slds-field-actions" role="group">
                                    <button ng-click="removeAndReorder(uniqueKeyMapping,field,$index)" class="slds-button slds-button--icon-border-filled slds-button--icon-x-small slds-button--icon-error">
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Delete</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>