<div ng-if="field.rendered" ng-class="{'ng-invalid-val' : (field.required && (!field.value || field.value === undefined || field.value === ''))}">
        <div    pf-datepicker 
                date="field.value"
                id="{{ field.SObjectField.name + index}}" 
                options="{autoclose: true, todayBtn: 'linked', todayHighlight: true}"
                ng-if="!field.readonly"></div>
        <!--<span ng-if="field.readonly" ng-bind="field.value | date: 'mediumDate'"></span>-->
        <label ng-if="field.readonly" class="slds-form-element__label" style="margin-top:.2rem;margin-bottom: 0;" ng-bind="field.value | date: 'mediumDate'"></label>
</div>