<pf-notification-list></pf-notification-list>
<div class="container" block-ui="loggingIn">
    <div class="row">
        
        <div class="col-sm-12 col-md-12 col-lg-12 login">

            <form class="form-horizontal form-signin" role="form">
                <div class="form-group">
                    <label for="inputUsername" class="col-sm-3 col-md-3 control-label">Username</label>
                    <div class="col-sm-9 col-md-9">
                        <input type="text" placeholder="Username" class="slds-input" id="inputUsername" tabindex="1" ng-model="credentials.username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-3 col-md-3 control-label">Password</label>
                    <div class="col-sm-9 col-md-9">
                        <input type="password" placeholder="Password" class="slds-input" id="inputPassword" tabindex="2" ng-model="credentials.password">
                    </div>
                </div>
                <div class="form-group" style="display: flex; margin-top: 20px;">
                    <div class="col-xs-8  col-sm-6  col-md-6" style="width: 50%;">
                        <span class="help-block">  <a href="#" style=" color: #19bc9c;text-decoration: none;" ng-click="onClickResetPassLink()" tabindex="6"> Reset Password </a></span>
                    </div>
                    <div class="col-xs-4 col-sm-6 col-md-6 submit" style="width: 50%; text-align: right;">
                        <button type="submit" class="slds-button slds-button--success"  tabindex="4" ng-click="login()" ng-disabled="loggingIn"> 
                            <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#unlock"></use>
                            </svg>
                            {{ (loggingIn) ? 'Logging In ...' : 'Log In' }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
    <!--/.row-->
</div>
<!--/.container-->
<table id="aboutakritiv" class="bottom" border="0" style="float:left; bottom:0; width: auto;">
    <tbody>
        <tr>                    
            <td align="left" class="tdtrans">
                <table cellspacing="1" class="innertbl" border="0" style="margin-right: 0px !important; margin-left: 13px !important;">
                    <tbody><tr rowspan="2"><td>&nbsp;</td></tr>
                    <tr>
                        <td colspan="2" align="right">
                            <center>
                                <img src="../resources/images/logo/application.png" width="50%" style="float:right;"> 
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="tblheader">Transforming how businesses process</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><a href="https://www.akritiv.com/home/" style="color: #bebebe; font-weight: bold; font-size: 12px;">Learn about Akritiv</a></td>
                        <td style="text-align: right;"><a href="http://www.genpact.com/" style="color: #bebebe; font-weight: bold; font-size: 12px;">www.genpact.com</a></td>
                    </tr>
                </tbody></table>
            </td>
            <td class="tdblank">
            </td>
        </tr>
    </tbody>
</table>